<div id="myAdd0"  class="">
    <div  style="margin:60px 0 60px 0" >
        <div class="span4 ng-scope">
            <div class="tree_text">请选择局点对应的区域:</div>
            <div class="tree-border mt-10">
                <div>
                    <tiny-tree id="trees.id"
                               setting="trees.setting"
                               values="trees.values">
                    </tiny-tree>
                </div>
            </div>
        </div>

        <!--<div>-->
            <!--<div>fdfsafdasfsa</div>-->

        <!--</div>-->
    </div>


</div>