<style>
    #myTabs{
        font-family: "Helvetica Neue55", Arial, Helvetica, sans-serif;
    }
    .page-header {
        padding-bottom: 9px;
        margin: 12px 0 20px;
        border-bottom: 1px solid #eee;
    }

</style>
<div id="myTabs" class="tiny-tabs-container" style="width:100%;" >
    <div class="tiny-tabs-content">
        <div id="tabs-1">
            <div  style="width:100%;">
                <div class="row">

                    <div class="mainTitle page-header" style="text-align:center;">{{i18n.thresholdConfigpage}}</div>

                    <form action="#">
                        <div  style="border:1px solid #ddd;padding:100px 15px;border-radius: 4px;">

                            <ti-formfield>
                                <ti-item label="thresholdConfigItem.label1" required="thresholdConfigItem.required">
                                    <ti-select ng-cloak
                                    selected-id="thresholdConfigItem.selectedId1"
                                    disable="thresholdConfigItem.disable"
                                    placeholder-text="thresholdConfigItem.placeholder1"
                                    panel-max-height="thresholdConfigItem.panelMaxHeight"
                                    change="thresholdConfigItem.change1"
                                    options="thresholdConfigItem.options1"
                                    panel-width="thresholdConfigItem.panelWidth">
                                    </ti-select>
                                    <span style="padding-left:10px;">分钟</span>
                                </ti-item>
                            </ti-formfield>
                            <div style="margin:20px;"></div>
                            <ti-formfield >
                                <ti-item label="thresholdConfigItem.label2" required="thresholdConfigItem.required">
                                    <ti-select ng-cloak
                                               selected-id="thresholdConfigItem.selectedId2"
                                               disable="thresholdConfigItem.disable"
                                               placeholder-text="thresholdConfigItem.placeholder2"
                                               panel-max-height="thresholdConfigItem.panelMaxHeight"
                                               change="thresholdConfigItem.change2"
                                               options="thresholdConfigItem.options2"
                                               panel-width="thresholdConfigItem.panelWidth">
                                    </ti-select>
                                    <span style="padding-left:10px;">次</span>
                                </ti-item>

                            </ti-formfield>

                        </div>
                        <div style="margin-top:10px;">
                            <button type="button" class="ti-btn-primary" ti-button>保存并下发</button>
                        </div>
                    </form>
              </div>
          </div>
      </div>

  </div>
</div>
</div>

<script>
  require(["tiny-widgets/Tabs"], function (Tabs) {
      var tabs = new Tabs({
          "id": "myTabs",
          "setActiveClass": false
      });
  });
</script>