<style>
    #myTabs{
        font-family: "Helvetica Neue55", Arial, Helvetica, sans-serif;
    }
    .page-header {
        padding-bottom: 9px;
        margin: 12px 0 20px;
        border-bottom: 1px solid #eee;
    }
    .firstModel td.ti-form-label{
        width:133px;
    }

</style>
<div id="myTabs" class="tiny-tabs-container" style="width:100%;" >
    <div class="tiny-tabs-content">
        <div id="tabs-1">
            <div  style="width:100%;">
                <div class="row">

                    <div class="mainTitle page-header" style="text-align:center;">{{i18n.systemConfigpage}}</div>

                    <form action="#">
                        <div class="firstModel" style="border:1px solid #ddd;padding:100px 15px;border-radius: 4px;" >

                            <ti-formfield>
                                <ti-item label="systemConfigItem.label1" required="systemConfigItem.required">
                                    <ti-select ng-cloak
                                               selected-id="systemConfigItem.selectedId1"
                                               disable="systemConfigItem.disable"
                                               placeholder-text="systemConfigItem.placeholder1"
                                               panel-max-height="systemConfigItem.panelMaxHeight"
                                               change="systemConfigItem.change1"
                                               options="systemConfigItem.options1"
                                               panel-width="systemConfigItem.panelWidth">
                                    </ti-select>
                                    <span style="padding-left:10px;">分钟</span>
                                </ti-item>
                            </ti-formfield>
                            <div style="margin:20px;"></div>
                            <ti-formfield >
                                <ti-item label="systemConfigItem.label2" required="systemConfigItem.required">
                                    <ti-select ng-cloak
                                               selected-id="systemConfigItem.selectedId2"
                                               disable="systemConfigItem.disable"
                                               placeholder-text="systemConfigItem.placeholder2"
                                               panel-max-height="systemConfigItem.panelMaxHeight"
                                               change="systemConfigItem.change2"
                                               options="systemConfigItem.options2"
                                               panel-width="systemConfigItem.panelWidth">
                                    </ti-select>
                                    <span style="padding-left:10px;">次</span>
                                </ti-item>

                            </ti-formfield>
                            </ti-formfield>
                            <div style="margin:20px;"></div>
                            <ti-formfield >
                                <ti-item label="systemConfigItem.label3" required="systemConfigItem.required">
                                    <ti-select ng-cloak
                                               selected-id="systemConfigItem.selectedId3"
                                               disable="systemConfigItem.disable"
                                               placeholder-text="systemConfigItem.placeholder3"
                                               panel-max-height="systemConfigItem.panelMaxHeight"
                                               change="systemConfigItem.change3"
                                               options="systemConfigItem.options3"
                                               panel-width="systemConfigItem.panelWidth">
                                    </ti-select>
                                    <span style="padding-left:10px;">分钟</span>
                                </ti-item>

                            </ti-formfield>

                        </div>

                    </form>
                    <div style="margin-top:10px;">
                        <button type="button" class="ti-btn-primary" ti-button>保存并下发</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<script>
    require(["tiny-widgets/Tabs"], function (Tabs) {
        var tabs = new Tabs({
            "id": "myTabs",
            "setActiveClass": false
        });
    });
</script>