<style>
    #myTabs{
        font-family: "Helvetica Neue55", Arial, Helvetica, sans-serif;
    }

    .content_left {
        display: inline-block;
        /*15%*/
        width: 250px;
        /*position: absolute;*/
        position: fixed;
        top: 61px;
        left: 202px;
        bottom: 0;
        min-height: 600px;
        overflow: auto;
        /*border: 1px solid #61105e*/
        background:#FdFdFd;
        padding:10px 0 0 5px;
        z-index:100;

    }

    .content_right {
        display: inline-block;
        /*width: 70%;*/
        position: absolute;
        top: 80px;
        left: 480px;
        right:25px;
        bottom: 0;
        z-index:99;
    }
    .blank {
        width: 100%;
        height: 30px;
    }

    .radio_group{
        margin-bottom:30px;
    }

    .mawizard{
        /*overflow: visible;*/
    }
    /*.keright{*/
        /*display: inline-block;*/
    /*}*/
    /*button.glyphicon-plus{*/
        /*float: right;*/
        /*position:relative;*/
        /*right:-20px;*/
        /*top:40px;*/
    /*}*/
    .radio-button{
        width:80px;
        height:26px;
        margin-right:1px;
        background: #ddd;
        border:1px solid #ddd;
    }
    .radio-button:hover{
        background: #D3EAFD;
        border:1px solid #D3EAFD;
    }

    .check_button{
        width:80px;
        height:26px;
        margin-right:1px;
        background: #2095F2;
        border:1px solid #2095F2;
    }

    .custom-head-panel {
        height: 240px;
        width: 35%;
        display: inline-block;
        margin-right: 20px;
    }

    .echartTable1{
        margin-top:10px;
    }

    /*给表格设置一个class,否则直接设置会给其他的元素带来影响*/
    table.dataTable span.ng-binding,table.dataTable span.ng-scope{
        position:relative;
        top:-4px;
    }

    .containerStyle1 {
        width:650px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

</style>
<div id="myTabs" class="tiny-tabs-container" style="width:100%;" >
    <div class="tiny-tabs-content">
        <div id="tabs-1">
            <!--左侧的树-->
            <div class="content_left">
                <div>
                    <tiny-tree id="trees.id"
                               setting="trees.setting"
                               values="trees.values">
                    </tiny-tree>
                </div>
                <div class="blank">

                </div>
            </div>


            <div class="content_right">
                <div class="row"  ng-show="!adminClassName">
                   <!--提示文本-->
                    <ti-alert type="type1"
                              show="show"
                              type-icon="typeIcon"
                              close-icon="closeIcon"
                              dismiss-on-timeout="dismissOnTimeout">{{label1}}</ti-alert><br>

                    <!--点击树右侧出现的图表-->



                <div style="margin:20px 0 60px 20px" >
                    <ti-formfield cols="threeCols">
                        <ti-item  label="tenItem.label">
                            <ti-select ng-cloak
                                       selected-id="adminCheckout1.selectedId"
                                       disable="adminCheckout1.disable"
                                       placeholder-text="adminCheckout1.placeholder"
                                       panel-max-height="adminCheckout1.panelMaxHeight"
                                       change="adminCheckout1.change"
                                       focus="adminCheckout1.focus"
                                       blur="adminCheckout1.blur"
                                       options="adminCheckout1.options"
                                       panel-width="adminCheckout1.panelWidth">

                            </ti-select>
                        </ti-item>
                        <ti-item  label="elevenItem.label" >
                            <span style="display: inline-block; height:26px width:180px" ng-bind="startDateTime"></span>

                        </ti-item>

                        <ti-item  label="twelveItem.label">
                            <span style="display: inline-block; height:26px width:180px" ng-bind="endDateTime"></span>
                        </ti-item>


                        <ti-item   >
                            <button type="button"   class="ti-btn-primary"  ng-click="reportResource()" ti-button >报告导出</button>
                        </ti-item>

                    </ti-formfield>

                   <div ng-show="chaxun">

                        <div class="echartTable1">
                            <tinyplus-charts class="custom-head-panel" options="quanCharts1.options"></tinyplus-charts>
                            <tinyplus-charts class="custom-head-panel" options="quanCharts2.options"></tinyplus-charts>
                        </div>



                        <!--查询功能-->
                        <div>
                            <!--主机查询显示-->
                            <div style="position: relative; left:-20px">
                                <ti-table class="containerStyle" displayed-data="hostMangerDisplayed" src-data="hostMangerSrcData" columns="hostMangerColumns">
                                    <table class="dataTable">
                                        <thead>
                                        <tr>
                                            <th ng-repeat="column in hostMangerColumns" width="{{column.width}}">{{column.title}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!--注意:ng-repeat中的displayed数据与displayed-data传入的数据一致,在scope中初始化设置为[]即可-->
                                        <!--为了更好的渲染性能，建议在ng-repeat数据时总是track by数据条目中的某个唯一属性值(如id)-->
                                        <tr ng-repeat="row in hostMangerSrcData.data">
                                            <td>{{row.hostName}}</td>
                                            <td>{{row.hostStatus}}</td>
                                            <td>{{row.monitorUsedCpu}}</td>
                                            <td>{{row.monitorTotalCpu}}</td>
                                            <td><ti-progressbar max-value="$scope.hostProgress.maxValue" value="row.monitorCpuUsage">{{row.monitorCpuUsage}}%
                                            </ti-progressbar></td>
                                            <td>{{row. monitorUsedMem}}</td>
                                            <td>{{row.monitorTotalMem}}</td>
                                            <td><ti-progressbar max-value="$scope.hostProgress.maxValue" value="row.monitorMemUsage">{{row.monitorMemUsage}}%
                                            </ti-progressbar></td>
                                            <td>{{row.clusterName}}</td>
                                            <td>{{row.hostIp}}</td>
                                            <td><a >更多操作</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--pagingModel.totalRecords = 10;-->
                                    <tiny-pagination  id="pagingModel.id" type="pagingModel.type" total-records="pagingModel.totalRecords"
                                                     hide-display-length="pagingModel.hideDisplayLength" display-length="pagingModel.displayLength" callback="pagingModel.callback">
                                            </tiny-pagination>

                                     <!--tinyUI2分页-->
                                    <!--<div class="containerStyle1">-->
                                        <!--<ti-pagination current-page="fenye.currentPage" total-items="fenye.totalItems" page-size="fenye.pageSize" page-num-change="fenye.pageNumChange(currentPage,pageSizeNum,totalItems)" page-update="fenye.pageUpdate(currentPage,pageSizeNum,totalItems)"></ti-pagination>-->
                                    <!--</div>-->
                                    <!--tinyUI1分页构造器方法-->
                                    <!--<div id="paginationFullnumbers"></div>-->
                                </ti-table>


                            </div>


                        </div>
                   </div>

                   <div ng-show="!chaxun">
                        <div class="echartTable1">
                            <div style="height:240px"></div>
                        </div>

                        <!--按虚拟机查询显示-->
                        <div style="position: relative; left:-20px">
                            <ti-table class="containerStyle" displayed-data="vmDisplayed" src-data="vmSrcData" columns="vmColumns">
                                <table class="dataTable">
                                    <thead>
                                    <tr>
                                        <th ng-repeat="column in vmColumns" width="{{column.width}}">{{column.title}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--注意:ng-repeat中的displayed数据与displayed-data传入的数据一致,在scope中初始化设置为[]即可-->
                                    <!--为了更好的渲染性能，建议在ng-repeat数据时总是track by数据条目中的某个唯一属性值(如id)-->
                                    <tr ng-repeat="row in vmSrcData.data">
                                        <td>{{row.vmName}}</td>
                                        <td>{{row.vmUrn}}</td>
                                        <td>{{row.vmStatus}}</td>
                                        <td>{{row.vmType}}</td>
                                        <td>{{row.monitorUsedCpu}}</td>
                                        <td>{{row.monitorTotalCpu}}</td>

                                        <td><ti-progressbar max-value="$scope.hostProgress.maxValue" value="row.monitorCpuUsage">{{row.monitorCpuUsage}}%
                                        </ti-progressbar></td>

                                        <td>{{row.monitorUsedMem}}</td>
                                        <td>{{row.monitorTotalMem}}</td>

                                        <td><ti-progressbar max-value="$scope.hostProgress.maxValue" value="row.monitorMemUsage">{{row.monitorMemUsage}}%
                                        </ti-progressbar></td>

                                        <td>{{row.vmIp}}</td>
                                        <td>{{row.clusterName}}</td>
                                        <td>{{row.hostName}}</td>
                                        <td>{{row.vmCreateTime}}</td>
                                        <td><a>更多</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <tiny-pagination  id="vmpagingModel.id" type="vmpagingModel.type" total-records="vmpagingModel.totalRecords"
                                                  hide-display-length="vmpagingModel.hideDisplayLength" display-length="vmpagingModel.displayLength" callback="vmpagingModel.callback">
                                </tiny-pagination>
                            </ti-table>
                        </div>
                   </div>
                </div>
                </div>






            </div>







        </div>

    </div>
</div>
</div>

<script>
    require(["tiny-widgets/Tabs"], function (Tabs) {
        var tabs = new Tabs({
            "id": "myTabs",
            "setActiveClass": false
        });
    });
</script>