<style>
    #myTabs{
        font-family: "Helvetica Neue55", Arial, Helvetica, sans-serif;
    }

    td.ti-form-label{
        width:100px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }

</style>
<div id="myTabs" class="tiny-tabs-container" style="width:100%;" >
    <div class="tiny-tabs-content">
        <div id="tabs-1">
            <div  style="width:100%;">
                <div class="row">

                    <div>系统管理页面 </div>



                </div>
            </div>
        </div>

    </div>
</div>
</div>

<script>
    require(["tiny-widgets/Tabs"], function (Tabs) {
        var tabs = new Tabs({
            "id": "myTabs",
            "setActiveClass": false
        });
    });
</script>