div.tiny-layout-container {
    max-width:100%;
    min-width: 90%;

}

#service-content .tiny-layout-container {
    margin-top: 58px;
}

div.tiny-layout-center{
    margin-left:242px;
}
.font18 {
    font-size: 18px;
}

.lheight_40 {
    line-height: 40px;
}

.mainTitle {
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #666;

}

span.deleteStyle{
    display:inline-block;
    margin:0  10px;
    font-size:15px;
    color:#E02222;
}
span.modificationStyle{
    display:inline-block;
    margin:0  10px;
    font-size:15px;
    color:#2AABD2;
}
span.deleteStyle:hover{
    display:inline-block;
    margin:0  10px;
    font-size:15px;
    color:#BB2413;
    cursor:pointer;
}
span.modificationStyle:hover{
    display:inline-block;
    margin:0  10px;
    font-size:15px;
    color:#337ab7;
    cursor:pointer;
}




div.mt50{
    margin-top:60px;

}
button.mr10{
    margin-left:10px;
    padding:5px 8px;

}








.mr10 {
    margin-right: 10px;
}
.ml10 {
    margin-left: 10px;
}
.ml20 {
    margin-left: 20px;
}
.mt10 {
    margin-top: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.mt3 {
    margin-top: 3px;
}
.mt15 {
    margin: 15px 0 0;
}
.mt20 {
    margin: 20px 0 0;
}
.mt30 {
    margin: 30px 0 0;
}
.mt50 {
    margin-top: 50px;
}
.mr20 {
    margin-right: 20px;
}
.mr50 {
    margin-right: 50px;
}
.page_txt {
    margin: 0 5px 0 0;
    background-color: #ffffff;
    color: #333333;
    width: 25px;
    text-align: center;
    height: 26px;
    line-height: 26px;
}
.BtnStyle{
    width:50px;
}
.fl{
    float:left;
}
.mainTitle {
    font-family: "微软雅黑 Regular", "微软雅黑";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #666;
}
.divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #FAFAFA;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
}
.timeInterval {
    font-family: "微软雅黑 Regular", "微软雅黑";
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #009EE0;
    cursor: pointer;
}

.timeIntervalActive {
    padding: 2px 3px;
    color: #f9f9f9;
    background-color: #21b5ff;
    text-align: center;
    line-height: normal;
}
.label.tiny_form_label_default {
    margin-top: 20px !important;
}
.tinyTabActive{
    border-top: 3px solid #21b5ff !important;
}
.ui-dialog-content .ui-widget-content .ui-dialog-normal{
    padding: 0 !important;
}
.pull-left{
}
.btn{
    background-color: #21b5ff;
    border: 0;
    border-radius: 4px;
}











