.mainTitle {
    font-family: "微软雅黑 Regular", "微软雅黑";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #666;
}
.content {
    width: 1399px;
    height: 50px;
    background: inherit;
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #FAFAFA;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
}