.bg-login{
    display:block;
    vertical-align: middle;
    /*设置父元素沾满满屏幕*/
    /*background: url("../images/login_bgg.png") no-repeat ;*/
    background-size:100% 100%;
    background-attachment: fixed;
}
.login-bg {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #F4F4F4;
}
.login_content {
    background-color: #F4F4F4;
    position: relative;
    min-width: 1240px;
    max-width: 1680px;
    margin: 0 auto;
    min-height: 800px;
}

#loginPage {
    padding-top: 120px;
}

.row-fluid {
    width: 100%;
}


#pageImg {
    float: left;
    width: 60%;
    max-width: 800px;
    max-height: 515px;
    margin-left: 5%;
    margin-top: 80px;
    z-index:99;
}
.hec-pull-right{
    float:right;
    width:320px;
    min-height:280px;
    border:1px solid #ddd;
    border-radius:10px;
    padding:20px 0 0 20px;
    position:absolute;
    top:275px;
    background: #fff;
}
.userLoginLabel {
    float: left;
    font-family: 微软雅黑;
    font-size: 20px;
    color: rgb(51, 51, 51);

}
.loginLine {
    font-family: 微软雅黑;
    color: rgb(51, 51, 51);
    float: left;
    margin-left: 12px;
    width: 85px;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
}

.form-button{
    width:188.99px;
    height: 34px;
}
.form-button:hover{
    width:188.99px;
    background: #BC0000;
    color:#fff;
    height: 34px;
}
form>table{
    margin-bottom:20px;
}
form>table:nth-child(2){
    margin-bottom:15px;
}
form>table:nth-child(3){
   position:relative;
    left:45px;
    margin-bottom:10px;
}
form>table:nth-child(4){
    position:relative;
    left:60px;
    margin-bottom:40px;
}
div.font18{
    margin-bottom:20px;
}

.titleLogo{
    position: relative;
    top:-30px;
    font-size: 22px;
    font-weight: normal;

}
.i18nBtn{
    position: relative;
    left: 20px;
    font-size: 14px;
}

