/*通用字体设置*/
@font-face{
    font-family:'TeleGroteskNormal';
    src:url("../fonts/telegrotesk-webfont.eot");
    src:url("../fonts/telegrotesk-webfont.eot") format("embedded-opentype"),
    url("../fonts/telegrotesk-webfont.woff") format("woff"),
    url("../fonts/telegrotesk-webfont.ttf") format("truetype"),
    url("../fonts/telegrotesk-webfont.svg") format("svg");
    font-weight:normal;
    font-style:normal
}

a, body, div, form, p, pre, td, th {
    font-family: 'TeleGroteskNormal','sans-serif', 'Arial', 'Roboto', 'Tiresias';
}

input[type="password"]{
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}

/*
 *颜色列表begin
 */

/*标题文字
重要信息文字
图表显示值文字*/
.common-color-title {
    color: #333333;
}

/*次级重要文字
图表中辅助信息文字及图表文字
按钮默认状态文字及其输入框默认文字*/
.common-color-content {
    color: #666666;
}

/*图表刻度值文字
页面灰化文字
输入框内提示文字*/
.common-color-prompt {
    color: #999999;
}

/*链接色*/
.common-color-link {
    color: #3ec0f0;
}

/*金额数字相关*/
.common-color-number {
    color: #e20074;
}

/*告警相关*/
.common-color-error {
    color: #f21414;
}
.common-color-important {
    color: #f7820d;
}

.common-color-warn {
    color: #f3ce02;
}

.common-color-info {
    color: #1fbe5c;
}

.common-color-success {
    color: #1fbe5c;
}

/*左风琴标题文字*/
.common-left-organ-title {
    color: #333333;
    font-size: 18px;
}
/*左风琴一级菜单*/
.common-left-organ-level1-menu {
    color: #333333;
}

.common-left-organ-level1-menu:hover{
    background: #fefefe;
}

/*左风琴一级菜单-选中*/
.common-left-organ-level1-menu.selected {
    color: #e20074 !important;
    border-left: 3px solid #e20074 !important;
    background-color: #ffffff;
}
/*CES*/
.common-left-organ-level1-menu-selected {
    color: #e20074 !important;
    border-left: 3px solid #e20074 !important;
    background-color: #ffffff;
}

/*左风琴二级菜单*/
.common-left-organ-level2-menu {
    color: #666666;
}

.common-left-organ-level2-menu:hover {
    color: #e20074;
}

.common-left-organ-level2-menu:before {
    background: #666666;
}

.common-left-organ-level2-menu:hover:before {
    color: #e20074;
    background: #e20074;
}

.common-left-organ-level2-menu.selected {
    color: #e20074;
}


.common-left-organ-level2-menu.selected:before {
    background: #e20074;
}

/*不可编辑文字-表格操作文字*/
.common-disabled-action {
    color:  #999999!important;
}

.common-disabled-table-action {
    color:  #999999!important;
}

.common-disabled-table-action:hover {
    cursor: not-allowed !important;
    text-decoration: none !important;
}

/*普通链接文字*/
a, a:link, a:hover, a:visited, a:active {
    color: #3ec0f0;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.common-link {
    color: #3ec0f0;
    cursor: pointer;
}
.common-link:hover {
    color: #3ec0f0;
    text-decoration: underline;
}

/*不凸显链接文字*/
a.common-link-without-color {
    color: #666666
}

a.common-link-without-color:hover {
    color: #666666
}

a.without-default-color {
    color: inherit;
}

a.without-default-color:hover {
    color: #3ec0f0;
    text-decoration: underline;
}

.common-link-without-default-color {
    color: inherit;
}

.common-link-without-default-color:hover {
    color: #3ec0f0;
    text-decoration: underline;
}

/*该样式可用于处理一块区域内的所有超链接都不凸显链接颜色文字，在父节点添加common-link-inherit-color样式即可*/
.common-link-inherit-color a {
    color: inherit;
}

.common-link-inherit-color-with-hover a {
    color: inherit;
}

.common-link-inherit-color-with-hover a:hover {
    color: #e20074;
}

.common-link-inherit-color-with-hover .common-link {
    color: inherit;
}

.common-link-inherit-color-with-hover .common-link:hover {
    color: #009ee0;
}

/*链接块-带border颜色*/
.common-link-div {
    border-color: #3ec0f0 !important;
}

.common-link-div-add {
    border-color: #cccccc;
}

.common-link-div-add:hover {
    border-color: #3ec0f0;
}

/*金钱数字*/
.common-money-amount {
    color: #e20074;
}

.common-money-pre {
    color: #e20074;
    font-size: 24px;
}

.common-money-amount-special {
    color: #e20074;
    font-size: 36px;
}

.common-quota-used-out {
    color: #e20074;
}

/*统计数字-为0时浅色化*/
.common-statistics-number-zero-true {
    color: #999999;
}
.common-statistics-number-zero-false {
    color: #e20074;
}

/*统计数字-dashboard统计数字*/
.common-statistics-dashboard-number {
    color: #e20074;
}

/*用于服务dashboard面板列表里的实例数*/
.common-statistics-dashboard-num-sp {
    font-family: 'TeleGroteskNormal','sans-serif', 'Arial', 'Roboto', 'Tiresias' !important;
    color: #e20074;
    font-size: 24px;
}
/*统计数字-提示信息里的统计数字*/
.common-statistics-prompt-number {
    color: #e20074;
}
/*统计数字-帮助区域的统计数字*/
.common-statistics-help-number {
    color: #e20074;
}
/*统计数字-列表里统计文字*/
.common-statistics-table-number {
    color: #e20074;
}

/*操作文字-内容页的操作文字*/
.common-action-content-action {
    color: #3ec0f0;
}
.common-action-content-action:hover {
    text-decoration: underline;
}

/*操作文字-列表里的操作文字*/
.common-action-table-action {
    color: #3ec0f0;
}
.common-action-table-action:hover {
    cursor: pointer;
    text-decoration: underline;
}


/*首页类别前条码的颜色使用各个版本主按钮背景色色码,并进行产品定制化 DT*/
.common-color-border-mainbtn {
    border-color: #e20074;
}


/*
 *背景色列表begin
 */
.common-bgcolor-main {
    background-color: #ffffff;
}

/*左侧导航区的背景色*/
.common-bgcolor-left-organ {
    background-color: #fafafa;
}

/*内容区的常用背景色*/
.common-bgcolor-common {
    background-color: #f3f3f3;
}

/*顶部导航背景色*/
.common-bgcolor-deep {
    background-color: #ffffff;
}

/*顶部导航*/
.common-page-header {
    background-color: #ffffff;
    color: #333333;
}

/*导航下拉菜单*/
.common-dropdown-menu {
    color: #333333;
    background-color: #eeeeee;
}

/*底部footer*/
.common-page-footer {
    background-color: #e5e5e5;
}

/*服务dashboard色块*/
.common-content-dashboard-item {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
}

.common-content-dashboard-item:hover {
    background-color: #ffffff;
    border-color: #3ec0f0;
}

/*右侧内容服务区的帮助区域*/
.common-content-help {
    background-color: #f3f3f3;
}

/*申请、购买页面的顶部区域*/
.common-creation-top-area {
    background-color: #f2f2f2;
}

/*home 页头部区域*/
.common-home-top-area {
    background-color: #f2f2f2;
    border: 1px solid #e8e8e8;
}

.common-color-div {
    background-color: #eaeaea;
}

.common-color-div:hover {
    background-color: #e20074;
}

.common-color-div2 {
    background-color: #eaeaea;
}

.common-color-div2.active {
    background-color: #e20074;
}

.common-step-bar {
    background-color: #e20074;
}
/*表格下拉区域--tiny定制*/

/*
 *Border colors begin
 */

/*表单外边框*/
.common-form-out-border {
    border-color: #d5d5d5;
}

/*服务图标外边框*/
.common-service-icon-out-border {
    border-color: #e5e5e5;
}

/*内容区的分割线*/
.common-content-seperation-line  {
    border-color: #e5e5e5;
}

/*
 * 字体 begin
 */
/*普通字体*/
.common-font {
    font-family: 'TeleGroteskNormal','sans-serif', 'Arial', 'Roboto', 'Tiresias' !important;
}

/*服务类比标题字体*/
.common-content-title-service-catalog {
}

/*dashboard页面title*/
.common-content-title-dashboard {
}

/*创建和申请页面顶部区域标题*/
.common-content-title-creation {
}

/*弹出框标题*/
.common-content-title-dialog {
}

/*表格-1）表头文字*/
.common-table-header {
}

/*表格-2）表体文字 */
.common-table-body {
}

/*表格-3）操作文字*/
.common-table-body-action {
}


/*dashboard刷新及表格头部刷新图标*/
.common-icon-refresh {
    font-size: 18px;
    cursor: pointer;
    color: #3ec0f0;
}

.common-icon-refresh:hover {
    color: #33aaff
}

/*帮助图标*/
.common-icon-help {
    font-size: 14px;
    cursor: pointer;
    color: #666666;
}

.common-icon-help:hover {
    color: #3ec0f0
}

/*表格上面的刷新按钮*/
.common-icon-refresh-button {
    box-sizing:content-box;
    font-size: 18px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 2px;
    color: #666666;
    background: #fafafa;
    background: -webkit-linear-gradient(to bottom,#f7f7f7,#fff);
    background: linear-gradient(to bottom,#f7f7f7,#fff);
    display: inline-block;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
}

.common-icon-refresh-button:hover {
    color: #3ec0f0;
}

.common-icon-refresh-button.disabled:hover {
    color: #666666;
}

.common-icon-refresh-button:focus {
    border: 1px solid #3ec0f0;
}

.common-icon-refresh-button:active {
    color: #ffffff;
    background-color: #3ec0f0;
    border: 1px solid #3ec0f0;
}

.common-icon-refresh-button.disabled:active {
    color: #666666;
    background-color: #009ee0;
    border: 1px solid #ddd;
}


/*字体大小定义*/
.common-font-size-common {
    font-size: 12px;
}
.common-font-size-big1 {
    font-size: 14px;
}
.common-font-size-big2 {
    font-size: 16px;
}
.common-font-size-big3 {
    font-size: 18px;
}
.common-font-size-big4 {
    font-size: 20px;
}
.common-font-size-big4-1 {
    font-size: 24px;
}
.common-font-size-big5 {
    font-size: 30px;
}
.common-font-size-big6 {
    font-size: 36px;
}

.common-font-size-big7 {
    font-size: 24px;
    font-family:"微软雅黑";
}

.common-font-size-big8 {
    font-size: 15px;
    font-family:"微软雅黑";
}

.common-font-size-big9 {
    font-size: 13px;
    font-family: "微软雅黑";
}

/*产品规则不统一字体*/
.common-font-size-special {
    font-size: 14px;
}

/*特殊样式处理--begin*/

.buy-btn-icon,
.fastBuy-btn-icon,
.create-btn-icon,
.apply-btn-icon {
    background: url("../images/button_icon.png") 0 0 no-repeat;
}

.btn-group .common-default-button {
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    margin: 0 1px 0 0;
    text-align: center;
    padding: 0 10px;
    min-width: 70px;
    float: left;
    color: #666666;
    font-size: 12px;
}

.btn-group .common-default-button:hover {
    border: 1px solid #e20074;
    color: #e20074;
}

.btn-group .common-default-button.selected {
    background-color: #e20074 !important;
    border: 1px solid #e20074 !important;
    color: #ffffff !important;
}

.btn-group .common-default-button.disabled {
    background-color: #e5e5e5 !important;
    border: 1px solid #e5e5e5 !important;
    color: #666666 !important;
    cursor: auto;
}

.btn-group .common-default-button:focus {
    outline: 0;
}


.btn-group>.common-default-button:first-child {
    margin-left: 0;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.btn-group>.common-default-button:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

/*console home*/
.user-info-business-status .action-icon {
    color: #999999;
}

.user-info-business-status:hover .action-icon {
    color: #e20074;
}

a:hover .home-service-action {
    color: #e20074;
}

/*tiny UI*/
a.tinyTab-a {
    text-decoration: none !important;
    color: #666666 !important;
}

a.tinyTab-a:hover {
    color: #333333 !important;
}

td.tiny-tdStyle .tiny-menubutton-caret {
    border-top: 4px solid #3ec0f0;
}

.tinyplus-btn-radio-label.active {
    border-color: #3ec0f0 !important;
}

.pageWrap .tiny-select{
    line-height: 24px;
}
.pageWrap .tiny-select-input-field{
    padding: 1px 35px 1px 5px;
    height: 26px;
    line-height: 24px;
}
.pageWrap .tiny-select-input-field:before{
    right: 8px;
}
.pageWrap .tiny-select-text{
    width: 50px;
    line-height: 24px;
}

.tiny-menubutton-normaldropdown>li>a:hover {
    color: #3ec0f0;
    background: rgba(0,0,0,.1);
}

.pagination_container .tiny-select .tiny-select-text {
    height: 24px;
    line-height: 24px;
}
a.tinyPagination_tinybutton:focus {
    text-decoration: none;
}
a.tinyPagination_tinybutton:hover span {
    float: left;
    height: 24px;
    line-height: 24px;
    text-decoration: none;
}
.tinyPagination_paginationPrevSpan,
a.tinyPagination_paginationPrevSpan,
a.tinyPagination_tinybutton.tinyPagination_paginationNextSpan {
    text-decoration: none;
    width: 30px;
    height: 24px;
    line-height: 24px;
    min-width: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #6d6d6d;
    font-size: 16px;
    float: left;
    text-align: center;
    margin-right: 4px;
    box-sizing: content-box;
}
.tinyPagination_paginationPrevSpan:visited,
a.tinyPagination_tinybutton.tinyPagination_paginationPrevSpan:hover,
.tinyPagination_paginationNextSpan,
.tinyPagination_paginationNextSpan:visited,
a.tinyPagination_tinybutton.tinyPagination_paginationNextSpan:hover {
    cursor: pointer;
    text-decoration: none;
}
a.tinyPagination_paginationPrevSpanDisabled,
a.tinyPagination_tinybutton.tinyPagination_paginationPrevSpanDisabled:hover,
a.tinyPagination_tinybutton.tinyPagination_paginationNextSpanDisabled,
a.tinyPagination_tinybutton.tinyPagination_paginationNextSpanDisabled:hover {
    background: #fafafa;
    float: left;
    text-decoration: none;
    cursor: default;
    margin-right: 4px;
    color: #b2b2b2;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 30px;
    font-size:16px;
    text-align: center;
    box-sizing: content-box;
}
.tiny-Pagination-Link-Selected:hover {
    color: #333333;
}
a.tinyPagination_tinybutton:hover {
    color: #e20074;
}
a.tinyPagination_tinybutton:hover span {
    color: #e20074;
}

.tiny-menubutton-normaldropdown>li>a:hover {
    color: #e20074;
    background: rgba(0,0,0,.1);
}
.tinyPagination_paginationNextSpan,
a.tinyPagination_tinybutton.tinyPagination_paginationPrevSpan:hover,
a.tinyPagination_tinybutton.tinyPagination_paginationNextSpan:hover,
.tinyPagination_paginationNextSpan:visited,
.tinyPagination_paginationPrevSpan:visited {
    border: 1px solid #e20074;
    color: #e20074;
}

[class^="html-font-family"] .tinyplus-panel-title {
    font-family: 'TeleGroteskNormal','sans-serif', 'Arial', 'Roboto', 'Tiresias';
}
/*特殊样式处理--end*/
