<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="logfile"
                                 fileName="site_log/sitetool-debug.log"
                                 filePattern="site_log/sitetool-debug.log%i">
            <PatternLayout
                    pattern="%d{yyyy MMM dd HH:mm:ss,SSS} {%-5p} {%t} {%c %L} %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="errlogfile"
                                 fileName="site_log/sitetool-error.log"
                                 filePattern="site_log/sitetool-error.log%i">
            <PatternLayout
                    pattern="%d{yyyy MMM dd HH:mm:ss,SSS} {%-5p} {%t} {%c %L} %m%n"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="error" additivity="false">
            <AppenderRef ref="logfile"/>
            <AppenderRef ref="errlogfile"/>
        </Logger>
        <Logger name="org.hibernate" level="error" additivity="false">
            <AppenderRef ref="logfile"/>
            <AppenderRef ref="errlogfile"/>
        </Logger>
        <Logger name="com.huawei" level="info" additivity="false">
            <AppenderRef ref="logfile"/>
            <AppenderRef ref="errlogfile"/>
        </Logger>
        <Root level="ALL">
            <appender-ref ref="Console"/>
            <!--<appender-ref ref="RollingFileInfo"/>-->
            <!--<appender-ref ref="RollingFileWarn"/>-->
            <!--<appender-ref ref="RollingFileError"/>-->
        </Root>

        <!--过滤掉spring和hibernate的一些无用的debug信息-->
        <!--<logger name="org.springframework" level="INFO">-->
        <!--</logger>-->
        <!--<logger name="org.hibernate" level="INFO">-->
        <!--</logger>-->
        <!--<root level="all">-->
            <!--<appender-ref ref="Console"/>-->
            <!--<appender-ref ref="RollingFileInfo"/>-->
            <!--<appender-ref ref="RollingFileWarn"/>-->
            <!--<appender-ref ref="RollingFileError"/>-->
        <!--</root>-->
    </Loggers>
</Configuration>
