<div class="console-content-padding">
    <div class="special-content">
        <div class="special-content-left-image">
            <img src="theme/default/images/nonsupport-small.png">
        </div>
        <div class="special-content-right-content">
            <p class="common-font-size-big4 common-color-title" ng-bind="i18n.console_term_accessDeclined_label"></p>
            <p class="common-color-content">
                <span ng-bind="i18n.console_term_accessOpen_label"></span>
                <!--暂时注释-->
                <!--<a target="_blank" ng-bind="i18n.console_term_accessMore1_label" ng-href="{{i18n.console_term_permission_link}}"></a>-->
                <!--<span ng-bind="i18n.console_term_accessMore2_label"></span>-->
            </p>
        </div>
    </div>
</div>



