.hws-show {
    display: none !important;
}

/*@media screen and (max-width: 1280px) {
    html {
        min-width: 1300px;
    }
}*/

/*将tiny左风琴的宽度恢复到底分辨率场景宽度*/
:focus{
    outline:none;
}

.tiny-layout-west {
    width: 220px;
}

.tiny-layout-west ul{
    width: 220px;
}

.tiny-layout-right {
    width:calc(100% - 220px - 30px);
}

.common-content-screen {
    min-width: 1240px;
    max-width: 1880px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.frame-menu-right {
    position: absolute;
    right: 20px;
    height: 60px;
}

@media screen and (max-width: 1280px) {
    .common-content-screen {
        padding: 0 20px;
       /* padding-left: calc(20px + (100vw - 100%));*/
        min-width: 1280px;
    }

    .frame-menu-right {
        right: 10px;
    }
}

.common-content-padding {
    padding-left: 250px;
}

.icomoon-loading-div {
    position: fixed;
    z-index: -1;
    visibility: hidden;
}

#service-menus {
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

#service-footer {
    padding-right: 0;
    padding-left: 0;
}

.console-top-menu {
    height: 60px;
}

.console-top-menu .menu {
    background-color: #444444;
}

#service-content {
    padding-top: 60px;
    min-height: 802px;
    padding-bottom:34px;
}

#menu {
    height: 60px;
    clear: both;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

.console-content-padding {
    box-sizing: content-box;
}

@media screen and (max-width: 1280px) {
    .console-content-padding {
        padding: 0 20px;
        min-width: 1280px;
    }
}

.console-top-footer {
    width: 100%;
    height: 34px;
    clear: both;
    margin: auto;
    z-index: 10000;
    position: relative;
}

#service-footer {
    height: 34px;
    display: none;
}

.menu-hwsicon-frame-home {
    font-size: 22px;
}

.menu-hwsicon-frame-service {
    font-size: 20px;
}

.menu-hwsicon-frame-user-head {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -27px;
    margin-right: 5px;
}

.menu-hwsicon-frame-user-drop {
    font-size: 16px;
    width: 24px;
    display: inline-block;
}

.menu-hwsicon-frame-help-drop {
    font-size: 16px;
    width: 20px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.menu-hwsicon-frame-user-iam {
    font-size: 14px;
    width: 24px;
    display: inline-block;
}

.menu-hwsicon-frame-region-caret {
    font-size: 13px;
    padding-left: 5px;
}

.menu-hwsicon-frame-user-caret {
    font-size: 13px;
    padding-left: 2px;
}

.menu-hwsicon-frame-service-favorite {
    font-size: 15px;
    color: #ec626b;
}

.menu-hwsicon-frame-service-favorite:hover {
    color: #e41e2b;
}

.console-menu-nav-list .console-menu-nav-item ul li:hover .menu-hwsicon-frame-service-favorite {
    color: #e41e2b;
}

.menu-hwsicon-frame-service-favorite-false {
    font-size: 13px;
    display: none;
}

.console-menu-nav-list .console-menu-nav-item ul li:hover .menu-hwsicon-frame-service-favorite-false {
    display: block;
}

.hwsicon-frame-email {
    font-size: 12px;
    padding-left: 1px;
}

.dropdown-menu {
    border: none;
    margin-top: 0;
    box-shadow: none;
}

.pull-left .dropdown-menu {
    margin-left: 0;
}

.margin-right4 {
    margin-right: 5px;
}

.console-topbar-btn {
    width: auto;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    color: #aaaaaa;
    line-height: 60px;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.console-topbar-btn-other:link, .console-topbar-btn-other:visited, .console-topbar-btn-other:hover, .console-topbar-btn-other:active {
    text-decoration: none;
    color: #FFFFFF;
}

.console-topbar-btn-other .top-red-line {
    display: block;
    background-color: #E41E2B;
    height: 5px;
}

.console-topbar-btn-other .content-text {
    display: block;
    padding: 0 30px;
    margin-top: -5px;
    height: 60px;
}

.console-topbar-btn-other .content-text .service-icon {
    font-size: 24px;
    position: relative;
    top: 4px;
}

.console-topbar-btn-click {
    width: auto;
    height: 60px;
    display: none;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background-color: #6c6c6c;
    color: #FFFFFF;
}

a.console-topbar-btn-click:focus {
    text-decoration: none;
    color: #FFFFFF;
}

a.console-topbar-btn-click:visited {
    text-decoration: none;
    color: #FFFFFF;
}

a.console-topbar-btn-click:hover {
    text-decoration: none;
    color: #FFFFFF;
}

a.console-topbar-btn:visited {
    text-decoration: none;
    color: #aaaaaa;
}

a.console-topbar-btn:hover {
    background-color: #6c6c6c;
    text-decoration: none;
    color: #FFFFFF;
}

.console-topbar-btn .console-topbar-btn-img {
    display: inline;
}

.console-topbar-btn:hover .console-topbar-btn-img {
    display: none;
}

.console-topbar-btn .console-topbar-btn-img-hover {
    display: none;
}

.console-topbar-btn:hover .console-topbar-btn-img-hover {
    display: inline;
}

.console-menu-logo {
    display: block;
    width: 150px;
    height: 60px;
    background: url("../images/logo.png") no-repeat left center;
}

.console-footer-logo {
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 32px;
    background: url("../images/logo_footer.png") no-repeat left center;
}

.console-menu-notice-img {
    display: inline-block;
}

.console-menu-notice-img-hover {
    display: none;
}

.console-menu-notice:hover .console-menu-notice-img {
    display: none;
}

.console-menu-notice:hover .console-menu-notice-img-hover {
    display: inline-block;
}

.console-menu-notice:hover .dropdown-menu-show-hover {
    display: block;
}

.console-topbar-username-text {
    padding: 0 10px;
    height: 60px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
}

.margin-right-14 {
    margin-right: 14px;
}

.console-topbar-fixed-width-div {
    display: inline-block;
    overflow: hidden;
}

.console-topbar-fixed-width-username {
    display: inline-block;
    overflow: hidden;
    max-width: 82px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.console-topbar-multi-userinfo {
    display: inline-block;
    overflow: hidden;
    max-width: 82px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 60px;
    padding-top: 12px;
    font-size: 12px;
    text-align: left;
    line-height: normal;
}

.console-topbar-multi-userhead {
    line-height: normal;
    padding: 6px 6px;
    border-radius: 50%;
    background-color: #5ecc49;
    color: #ffffff;
    margin-right: 2px;
}

.console-topbar-multi-userinfo .username {
    color: #5ecc49;
}

.console-topbar-multi-userinfo li span {
    display: inline-block;
    overflow: hidden;
    max-width: 82px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.console-topbar-fixed-width-region {
    display: inline-block;
    overflow: hidden;
    max-width: 139px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.console-topbar-region {
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    background-color: #343434;
    border-radius: 30px;
}

.console-topbar-btn-notice {
    min-width: 30px;
    height: 30px;
    background-color: #343434;
    border-radius: 50%;
    line-height: 30px;
}

.drodown-radius-click-bg {
    background-color: #6c6c6c;
}

.console-topbar-btn-help {
    width: 30px;
    height: 30px;
    background-color: #343434;
    margin-top: 15px;
    border-radius: 50%;
    line-height: 30px;
}

.console-topbar-btn-quota {
    height: 36px;
    background-color: #343434;
    margin-top: 15px;
    border-radius: 30px;
    line-height: 36px;
    padding: 0 10px;
}

.console-topbar-btn-oldConsole {
    width: auto;
    height: 30px;
    background-color: #343434;
    margin-top: 15px;
    border-radius: 30px;
    line-height: 30px;
    margin-left: 20px;
}

.console-topbar-btn-oldConsole .content-text {
    padding: 0 10px;
    color: #E41E2B;
}

.favorite-service-list {
    padding: 0 15px;
}

.dropdown .console-menu-nav-list {
    border-top: none;
    padding-top: 10px;
    padding-bottom: 20px;
}

.console-menu-nav-list-width {
    width: 1200px;
    left: -201px;
}

.service-list [class*="service-detail-"] {
    min-height: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    /* width: 20%;*/
    width: 33.3%;
    box-sizing: border-box;
}

/*.service-list .service-detail-zh-cn {
    *//*width: 16.66%;*//*
    width: 20%;
}*/

@media screen and (min-width: 1440px) {
    .service-list [class*="service-detail-"] {
        width: 25%;
    }
}

@media screen and (min-width: 1550px) {
    .service-list [class*="service-detail-"] {
        width: 25%;
    }
}

@media screen and (min-width: 1680px) {
    .service-list [class*="service-detail-"] {
        width: 20%;
    }
}

@media screen and (min-width: 1920px) {
    .service-list [class*="service-detail-"] {
        width: 16.6%;
    }
}

.console-menu-notice {
    position: relative;
    margin-right: 20px;
}

.console-menu-notice .console-notice-list {
    width: 725px;
    border-top: none;
    padding: 10px 0;
    margin-top: 15px;
    margin-left: -1px;
    position: absolute;
    line-height: 30px;
}

.console-notice-list .console-notice-last-item {
    width: 100%;
    text-align: right;
}

.console-menu-notice-bg {
    position: relative;
    height: 16px;
    width: 24px;
    overflow: hidden;
}

.console-menu-notice-mid {
    position: absolute;
    top: -17px;
    left: -13px;
    width: 50px;
    height: 50px;
}

.console-menu-notice-num {
    left: 18px;
    position: absolute;
    top: 0;
    color: #ffffff;
    padding: 1px 3px 2px 3px;
    min-width: 13px;
    text-align: center;
    line-height: 12px;
    background-color: #e41e2b;
    border-radius: 25px;
    -moz-border-radius: 25px;
}

.margin-left-20 {
    margin-left: 20px;
}

.console-menu-home-link {
    padding: 0 15px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-left-2 {
    padding-left: 2px;
}

.padding-left-20 {
    padding-left: 20px;
}

.console-menu-service-link {
    padding: 0 18px;
}

.console-menu-nav-link {
    width: auto;
    padding: 0 10px;
}

.console-menu-nav-list .console-menu-nav-item {
    padding-bottom: 20px;
}

.service-list-item-tr {
    padding: 0 20px;
}

.margin-left20 {
    margin-left: 20px;
}

.service-list-item-tr .div-tr {
    border-bottom: 1px solid #7b7b7b;
    width: 100%;
}

.console-menu-nav-list .console-menu-nav-item ul li {
    height: 30px;
    line-height: 30px;
    margin-bottom: 2px;
    padding: 0 5px;
}

.console-menu-nav-list .console-menu-nav-item ul li .pull-right {
    height: 30px;
}

.console-menu-nav-list .console-menu-nav-item ul li:hover {
    background-color: #4b4b4b;
}

.console-menu-nav-list .console-menu-nav-item ul li:hover a {
    color: #FFFFFF;
}

.console-menu-nav-list .console-menu-nav-item ul li:hover .user_center_img {
    display: none;
}

.console-menu-nav-list .console-menu-nav-item ul li:hover .user_center_img_hover {
    display: inline;
}

.console-menu-nav-list .console-menu-nav-item ul li a {
    display: block;
    height: 100%;
    text-decoration: none;
}

.console-topbar-nav-item-title {
    color: #FFFFFF;
    border-bottom-color: #7b7b7b;
    line-height: 36px;
}

.console-menu-nav-tips {
    margin-top: 15px;
}

.dropdown-menu-region {
    width: auto;
    min-width: 100%;
    padding: 5px 0;
}

.dropdown .dropdown-menu {
    z-index: 10001;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.dropdown .user-dropdown-menu {
    min-width: 152px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.margin-bottom3 {
    margin-bottom: 3px;
}

.height-30 {
    height: 30px
}

.user-dropdown-menu > li {
    font-size: 14px;
}

.user-dropdown-menu .dropdown-menu-li-height {
    height: 32px
}

.dropdown-menu > li > a {
    color: #FFFFFF;
    text-align: left;
    padding: 0 15px;
    line-height: 30px;
}

.dropdown-menu > li > ul > li > a {
    color: #FFFFFF;
    text-align: left;
    line-height: 30px;
    padding: 0 10px 0 30px;
    white-space: nowrap;
    display: block;
}

.region-menu-dropdown .dropdown-menu:before {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #6c6c6c;
    border-left: 6px solid transparent;
    content: '';
}

.message-menu-dropdown .dropdown-menu:before, .help-menu-dropdown .dropdown-menu:before {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #6c6c6c;
    border-left: 6px solid transparent;
    content: '';
}

.old-console-tips {
    margin-left: -15px;
}

.frame-helpcenter-tips {
    margin-left: -30px;
    white-space: nowrap;
}

.frame-helpcenter-tips:after, .frame-helpcenter-tips:before {
    left: 35px
}

.region-menu-dropdown {
    height: 36px;
    margin-top: 12px;
    margin-right: 14px;
}

.message-menu-dropdown {
    height: 30px;
    margin-top: 15px;
}

.region-menu-dropdown .dropdown-menu, .help-menu-dropdown .dropdown-menu {
    margin-top: 12px;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.dropdown-menu-list-text {
    color: #FFFFFF;
}

.service-list-item-icon {
    font-size: 13px;
    color: #b5b5b5;
}

.dropdown-menu-list-text:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.service-list-item-icon:hover {
    color: #e41e2b;
    text-decoration: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #4b4b4b;
}

.dropdown-menu > li > ul > li:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #4b4b4b;
}

.dropdown-menu > li > ul > li a:hover {
    text-decoration: none;
}

.dropdown-menu > li > a:hover .message-content-time, .dropdown-menu > li > a:focus .message-content-time {
    color: #FFFFFF;
    text-decoration: none;
}

.dropdown-menu > li > a:hover .more-message, .dropdown-menu > li > a:focus .more-message {
    color: #FFFFFF;
    text-decoration: none;
}

a .user_center_img {
    display: inline;
}

a:hover .user_center_img {
    display: none;
}

a .user_center_img_hover {
    display: none;
}

a:hover .user_center_img_hover {
    display: inline;
}

.footer-copyright-content {
    text-align: center;
    color: #aaaaaa;
    line-height: 34px;
    height: 34px;
    background-color: #444444;
}

.margin-left-1 {
    margin-left: 8px !important
}

.margin-left-3 {
    margin-left: 24px !important
}

.margin-left-4 {
    margin-left: 32px !important
}

.margin-top-1 {
    margin-top: 8px !important
}

.console-notice-list .message-type {
    height: 24px;
    width: 100%;
    color: #ffffff;
}

.console-notice-list .message-content {
    width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.console-notice-list .message-content-time {
    color: #ffffff;
    width: 140px;
}

.console-notice-list .line-border-parent {
    padding: 0 15px;
    margin-bottom: 10px;
}

.console-notice-list .line-border-parent .line-border {
    border-bottom: solid 1px #7b7b7b;
    width: 100%;
}

.dropdown-menu > li > a .more-message {
    text-align: center;
    color: #FFFFFF;
}

.margin-right--1 {
    margin-right: -1px;
}

.height-26 {
    height: 26px;
}

.favorite-service-list .hwsicon-frame-service-favorite-big {
    font-size: 20px;
    line-height: 60px;
}

.favorite-service-list .hwsicon-frame-service-favorite-small {
    font-size: 18px;
    position: relative;
    top: 3px;
}

.dropdown-menu-list-text .service-hwsicon-frame-service {
    font-size: 18px;
    position: relative;
    top: 3px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.role-list > .common-dropdown-menu {
    min-width: 120px;
    right: 100%;
    left: auto;
    margin-right: -1px;
}

.dropdown-menu > li.role-list > ul > li > a {
    padding: 0 10px;
}

.role-list li .circle-icon {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #5ECC49;
}

.role-list li .circle-icon-special {
    background-color: #ffffff;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    margin-top: 9px;
}

.dropdown-submenu > a:after {
    margin-top: 9px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #e41e2b;
}

.padding-left-10 {
    padding-left: 10px;
}

.placeholder-div {
    width: 14px;
}

.frame-dropdown-tinyTip {
}

.user-center-dropdown-text {
    padding-right: 10px;
}

.frame-cloud-messages-out {
    position: fixed;
    width: 100%;
    top: 60px;
    z-index: 50100;
}

.frame-cloud-messages-in {
    min-width: 1240px;
    max-width: 1880px;
    clear: both;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    color: #c7c7c7;
    box-sizing: content-box;
}

#frame-cloud-messages-tips {
    padding-left: 250px;
}

.frame-cloud-alert-block {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    color: #333333;
}

.frame-cloud-message-img {
    padding: 0 10px 2px 0;
}

.frame-cloud-alert-error {
    background-color: #fedcd9;
    border-color: #eed3d7;
}

.frame-cloud-alert-success {
    background-color: #dff5db;
    border-color: #d6e9c6;
}

.frame-cloud-close {
    opacity: .5;
}

.frame-cloud-window-messages-out {
    position: absolute;
    padding-left: 20px;
    z-index: 50100;
}

.role-change-display-none {
    display: none;
}

.dropdown-menu-li-line {
    margin: 15px 0;
    border-bottom: dashed 1px #a7a7a7;
}

.menu-top-line {
    display: none;
}

.menu-top-content {
    display: none;
}

.custom-style {
    display: none;
}

.default-style .custom-style {
    display: none;
}

.default-style .ocb-custom-style {
    display: none;
}

#menu .row {
    margin-right: 0;
    margin-left: 0;
}

label {
    font-weight: normal;
}

.nonsupport{
    margin: auto;
    width: 500px;
    height: 400px;
    margin-top: 20px;
}

.nonsupport-region {
    padding-top: 45px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.nonsupport-region-other {
    margin: auto;
    display: inline-block;
    width: 390px;
    margin-top: 120px;
}

.nonsupport-region-p {
    margin: auto;
    position: relative;
    display: block;
}

.nonsupport-image{
    display: inline-block;
    margin: auto;
    padding-right: 18px;
}

.nonsupport-image img {
    float: left;
    width: 60px;
    height: 60px;
    margin-bottom: 70px;
}

.maintained-image {
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 170px;
    margin-right: 20px;
}

.nonsupport-region-p {
    padding-top: 10px;
}

.nonsupport-region-support-list {
    padding-top: 10px;
}

.nonsupport-region-support-list ul {
    padding-top: 5px;
}

.nonsupport-region-support-list ul li {
    padding: 2px 0;
}

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
    color: #aaaaaa;
}

.dropdown-menu > .disabled > ul > li > a, .dropdown-menu > .disabled > ul > li > a:focus, .dropdown-menu > .disabled > ul > li > a:hover {
    color: #aaaaaa;
}

.dropdown-menu > .disabled > ul > li > a:focus, .dropdown-menu > .disabled > ul > li > a:hover {
    text-decoration: none;
    cursor: not-allowed;
}

.dropdown-menu > .disabled > ul > li:focus, .dropdown-menu > .disabled > ul > li:hover {
    background-color: transparent;
}

.dropdown-menu > li > ul > li.disabled > a {
    color: #aaaaaa;
}

.dropdown-menu > li > ul > li.disabled > a:focus, .dropdown-menu > li > ul > li.disabled > a:hover {
    text-decoration: none;
    cursor: not-allowed;
}

.dropup .common-dropdown-menu {
    margin-bottom: 0;
    border-radius: 0;
    padding: 0 0;
    min-width: 120px;
}

.dropup .common-dropdown-menu li:hover {
    cursor: pointer;
}

.console-footer-btn {
    padding: 0 10px;
}

.console-footer-btn:hover {
    background-color: #6c6c6c;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.padding-left-25 {
    padding-left: 25px;
}

.console-footer-vertical-line {
    border-left: 1px solid #6c6c6c;
    height: 34px;
}

.hwsicon-frame-image-footer-earth {
    font-size: 16px;
    position: absolute;
}

.console-footer-btn-dropdown {
    height: 34px;
    display: block;
    color: #ffffff;
}

.closed > .dropdown-menu {
    display: none;
}

.padding-left-30 {
    padding-left: 30px;
}

.console-menu-home-link-other {
    display: none;
}

.dropup .dropdown-menu-language {
    min-width: 0;
}

.dropdown-menu-language > li > a {
    padding: 0 30px;
}

.console-topbar-btn-oldResource {
    display: none;
}

.menu-user-balance {
    padding: 0 15px;
}

.menu-user-balance-label {
    color: #ccc;
}

.menu-user-balance-content {
    margin: 15px 0;
}

/*.menu-user-balance-recharge {
    width: 96px;
    height: 32px;
}*/

.menu-user-balance-value {
    padding-right: 80px;
    line-height: 1;
    white-space: nowrap;
}

.menu-user-balance-symbol {
    font-size: 18px;
}

.menu-user-balance-integer {
    font-size: 32px;
}

.menu-user-balance-decimal {
    font-size: 16px;
    padding-right: 20px;
}

.menu-user-balance-recharge > .tiny-btn-basic {
    margin-right: 0;
}

.menu-user-balance-links {
    margin: 0 -15px;
    white-space: nowrap;
}

.menu-user-balance-links > li {
    display: inline-block;
    padding: 0 18px;
    width: 33.3334%;
    text-align: center;
}

.menu-user-balance-links > li + li {
    border-left: 1px solid #999;
}

.user-dropdown-menu .frame-bill-list {
    display: none;
}

.frame-favorite-service-list {
    float: left;
    width: auto;
    overflow: hidden;
    height: 60px;
}

.frame-menu-left {
    float: left;
}

.special-content {
    margin: 180px auto 0 auto;
    width: 600px;
    position: relative;
}

.special-content-left-image {
    position: absolute;
}

.special-content-right-content {
    padding-left: 100px;
    width: 100%;
}

.frame-message-sep-line {
    margin: 10px 0;
    width: 100%;
    border-top: 1px solid #CECDCD
}

.frame-message-page-turning {
    font-weight: bold !important;
    display: inline-block;
    padding: 0 0;
    font-size: 14px;
    line-height: normal;
}

.frame-menu-tips-message {
    width: 725px;
    margin-right: -150px;
    padding: 10px 0;
    line-height: 30px;
}

.frame-menu-tips-message-content {
    height: 300px;
}

.frame-menu-tips-message-list {
    padding: 0 15px;
}

.frame-menu-tips-message-list-content {
    position: relative;
}

.frame-menu-tips-message-list-content:hover {
    background-color: #333333;
}

.frame-message-page-turning-out {
    position: relative;
    line-height: normal;
    padding-bottom: 5px;
}

.frame-message-page-turning-index {
    position: absolute;
    top: -1px;
    left: 30px;
    line-height: normal;
}

.hwsicon-frame-image-next-page {
    margin-left: 28px;
}

.frame-message-content {
    width: 550px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.frame-message-time {
    position: absolute;
    right: 15px;
    top: 0;
}

.dropdown-menu > li > .frame-message-msg-clear {
    padding: 0 0;
    line-height: normal;
}

.frame-message-clear-text {
    padding-left: 17px;
}

.hwsicon-frame-image-msg-delete {
    font-size: 16px;
    position: absolute;
    top: -1px;
    font-size: 16px;
}

.frame-message-round {
    width: 5px;
    height: 5px;
    background-color: #e41e2b;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 0;
    display: none;
}

.console-menu-notice .frame-message-page-turning-out a {
    color: #999999;
    text-decoration: none;
}


.console-menu-notice .frame-message-page-turning-out a:hover,
.console-menu-notice .frame-message-page-turning-out a:focus {
    color: #FFFFFF;
    background-color: inherit;
    text-decoration: none;
}

.console-menu-notice .frame-message-page-turning-out .disabled:hover,
.console-menu-notice .frame-message-page-turning-out .disabled:focus {
    color: #999999;
    background-color: inherit;
    text-decoration: none;
}


#frame-os-check {
    width: 100%;
    height: 62px;
    display: block;
    position: fixed;
    z-index: 10001;
    background-color: #F2F2F2;
}

.frame-os-check-hint-display {
    height: 62px;
    display: block;
}

.frame-os-check-tips {
    display: inline-block;
    height: 28px;
    font-style: normal;
    text-indent: 10px;
    position: relative;
    color: #666666;
    text-align: center;
}

.frame-os-check-tips-icon {
    color: #EFE034;
    height: 20px;
    width: 20px;
    margin-left: 35%;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    top: 8px;
}

.frame-os-check-link-info {
    font-style: normal;
    text-indent: 20px;
    bottom: 1px;
    position: relative;
    color: #009ee0 !important;
    font-family: '微软雅黑 Regular', '微软雅黑', '宋体';
}

.frame-os-check-hint-close {
    display: block;
}

.frame-os-check-close-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    top: 2px;
    font-size: initial;
    text-indent: 25px;
    color: #999999;
}
