@font-face {
	font-family: 'icomoon_ecm';
	src:url("../fonts/basic/basic_icomoon.eot");
	src:url("../fonts/basic/basic_icomoon.eot") format('embedded-opentype'),
	url("../fonts/basic/basic_icomoon.woff") format('woff'),
	url("../fonts/basic/basic_icomoon.ttf") format('truetype'),
	url("../fonts/basic/basic_icomoon.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icoMoon-"], [class*=" icoMoon-"] {
	font-family: 'icomoon_ecm';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icoMoon-backup-immediately:before {
	content: "\e910";
}
.icoMoon-refresh:before {
	content: "\e90f";
}
.icoMoon-status-processing:before {
	content: "\e90e";
}
.icoMoon-subnet_solid:before {
	content: "\e90d";
}
.icoMoon-vpc-dashboard-small:before {
	content: "\e90a";
}
.icoMoon-security:before {
	content: "\e901";
}
.icoMoon-bandwidth:before {
	content: "\e902";
}
.icoMoon-firewall:before {
	content: "\e903";
}
.icoMoon-ip:before {
	content: "\e904";
}
.icoMoon-route:before {
	content: "\e907";
}
.icoMoon-shhkey:before {
	content: "\e908";
}
.icoMoon-subnet:before {
	content: "\e909";
}
.icoMoon-vpn:before {
	content: "\e90b";
}
.icoMoon-add-button:before {
	content: "\e90c";
}
.icoMoon-apply-for:before {
	content: "\e801";
}
.icoMoon-fast-buy:before {
	content: "\e802";
}
.icoMoon-buy:before {
	content: "\e803";
}
.icoMoon-dec-parlor:before {
	content: "\e800";
}
.icoMoon-wrong:before {
	content: "\e64d";
}
.icoMoon-add:before {
	content: "\e62e";
}
.icoMoon-closeEmpty:before {
	content: "\e62f";
}
.icoMoon-closeSolid:before {
	content: "\e630";
}
.icoMoon-closeThin:before {
	content: "\e631";
}
.icoMoon-help:before {
	content: "\e632";
}
.icoMoon-icon:before {
	content: "\e633";
}
.icoMoon-openEmpty:before {
	content: "\e634";
}
.icoMoon-openSolid:before {
	content: "\e635";
}
.icoMoon-pencil3:before {
	content: "\e636";
}
.icoMoon-search:before {
	content: "\e637";
}
.icoMoon-set:before {
	content: "\e638";
}
.icoMoon-star:before {
	content: "\e639";
}
.icoMoon-status-alarm:before {
	content: "\e63a";
}
.icoMoon-status-avilable:before {
	content: "\e63b";
}
.icoMoon-status-resize:before {
	content: "\e63c";
}
.icoMoon-status-delete:before {
	content: "\e63d";
}
.icoMoon-status-error:before {
	content: "\e63e";
}
.icoMoon-status-mount:before {
	content: "\e63f";
}
.icoMoon-status-noMount:before {
	content: "\e640";
}
.icoMoon-status-normal:before {
	content: "\e641";
}
.icoMoon-status-off:before {
	content: "\e642";
}
.icoMoon-status-pause:before {
	content: "\e643";
}
.icoMoon-status-problem:before {
	content: "\e644";
}
.icoMoon-status-rebulid:before {
	content: "\e645";
}
.icoMoon-status-restore:before {
	content: "\e646";
}
.icoMoon-status-running:before {
	content: "\e647";
}
.icoMoon-status-sleep:before {
	content: "\e648";
}
.icoMoon-status-start:before {
	content: "\e649";
}
.icoMoon-status-stop:before {
	content: "\e64a";
}
.icoMoon-success:before {
	content: "\e64b";
}
.icoMoon-unify_valid:before {
	content: "\e64c";
}
.icoMoon-cancel:before {
	content: "\e62c";
}
.icoMoon-save:before {
	content: "\e62d";
}
.icoMoon-downAction:before {
	content: "\e62a";
}
.icoMoon-topAction:before {
	content: "\e62b";
}
.icoMoon-delete:before {
	content: "\e622";
}
.icoMoon-left-arrow:before {
	content: "\e623";
}
.icoMoon-lock:before {
	content: "\e624";
}
.icoMoon-right-arrow:before {
	content: "\e626";
}
.icoMoon-unlock:before {
	content: "\e627";
}
.icoMoon-vdc-small:before {
	content: "\e628";
}
.icoMoon-image-small:before {
	content: "\e602";
}
.icoMoon-backup-small:before {
	content: "\e605";
}
.icoMoon-loadbalancer-small:before {
	content: "\e606";
}
.icoMoon-shhkey-small:before {
	content: "\e608";
}
.icoMoon-supervision-samll:before {
	content: "\e609";
}
.icoMoon-alarm-samll:before {
	content: "\e60b";
}
.icoMoon-scaling-samll:before {
	content: "\e60c";
}
.icoMoon-vpclist-samll:before {
	content: "\e60d";
}
.icoMoon-volume-samll:before {
	content: "\e60e";
}
.icoMoon-cloud-small:before {
	content: "\e60f";
}
.icoMoon-dashboard-samll:before {
	content: "\e610";
}
.icoMoon-vdc:before {
	content: "\e629";
}
.icoMoon-loadbalancer:before {
	content: "\e611";
}
.icoMoon-fle-cloud:before {
	content: "\e616";
}
.icoMoon-scaling-service:before {
	content: "\e618";
}
.icoMoon-selfImage:before {
	content: "\e619";
}
.icoMoon-cloudwatch:before {
	content: "\e61a";
}
.icoMoon-volumememory:before {
	content: "\e61b";
}
.icoMoon-roll-backup:before {
	content: "\e61c";
}
.icoMoon-vdc1:before {
	content: "\e61d";
}
.icoMoon-vpc:before {
	content: "\e620";
}
.icoMoon-home:before {
	content: "\e900";
}
.icoMoon-cloud2:before {
	content: "\e600";
}
.icoMoon-world:before {
	content: "\e601";
}
.icoMoon-cloud3:before {
	content: "\e60a";
}
.icoMoon-plus2:before {
	content: "\e114";
}
.icoMoon-cloud22:before {
	content: "\e603";
}
.icoMoon-contract:before {
	content: "\e604";
}
.icoMoon-pencil2:before {
	content: "\e906";
}
.icoMoon-stack:before {
	content: "\e92e";
}
.icoMoon-shrink:before {
	content: "\e98a";
}
.icoMoon-equalizer:before {
	content: "\e992";
}
.icoMoon-shield:before {
	content: "\e9b4";
}
.icoMoon-list:before {
	content: "\e9ba";
}
.icoMoon-tree:before {
	content: "\e9bc";
}
.icoMoon-cloud:before {
	content: "\e9c1";
}
.icoMoon-link:before {
	content: "\e9cb";
}
.icoMoon-shuffle:before {
	content: "\ea30";
}
.icoMoon-tab:before {
	content: "\ea45";
}
.icoMoon-paragraph-center:before {
	content: "\ea78";
}
.icoMoon-share2:before {
	content: "\ea82";
}
.icoMoon-onedrive:before {
	content: "\eab0";
}
.icoMoon-joomla:before {
	content: "\eab8";
}
.icoMoon-delicious:before {
	content: "\eacc";
}
.icoMoon-stumbleupon:before {
	content: "\eacd";
}
.icoMoon-svg:before {
	content: "\eae3";
}
.icoMoon-pencil:before {
	content: "\e905";
}
.icoMoon-download3:before {
	content: "\e9c7";
}
.icoMoon-upload3:before {
	content: "\e9c8";
}
.icoMoon-circle-up:before {
	content: "\ea41";
}
.icoMoon-circle-right:before {
	content: "\ea42";
}
.icoMoon-circle-down:before {
	content: "\ea43";
}
.icoMoon-circle-left:before {
	content: "\ea44";
}
.icoMoon-spinner9:before {
	content: "\e982";
}
.icoMoon-spinner10:before {
	content: "\e983";
}
.icoMoon-check-alt:before {
	content: "\e607";
}
.icoMoon-plus:before {
	content: "\ea0a";
}
.icoMoon-minus:before {
	content: "\ea0b";
}
.icoMoon-cross:before {
	content: "\ea0f";
}
.icoMoon-checkmark:before {
	content: "\ea10";
}
.icoMoon-picassa:before {
	content: "\eaa4";
}

